/* SELETTORE {
  proprietà:valore;
  proprietà:valore;
}  */


/* *{
    margin: 0%;
    box-sizing: border-box;
} */


/* <!-- testata imagine con titolo grande --> */
.primaimg {
    background-image: url("pattern.png");
    background-color: #20A9E5;
    margin: 0;
    height: 180px;
}

.img {
    width: 300px;
    height: 70px;
    margin-top: 80px;
}

.thebooleaner {
    color: #20A9E5;;
}

h3 {
    color: grey;
}

h5 {
    color: grey;
}



/* main section colore evidenziato */
span {
    background-color: yellow;
}


ul {
    margin-left: 1em;
}   



/* main section tabella */
#primolorem {
    background-color: #20A9E5;
    color: white;
}


#secondolorem {
    background-color: #B1E5F2;
    color: black;
}


