/* SELETTORE {
  proprietà:valore;
  proprietà:valore;
}  */


/* *{
    margin: 0%;
    box-sizing: border-box;
} */

.primaimg {
    background-image: url("pattern.png");
    height: 300px;
}



.thebooleaner {
    color: rgb(101, 146, 243);
}


h3 {
    color: grey;
}


h5 {
    color: grey;
}


span {
    background-color: yellow;
}


#primolorem {
    background-color: #20A9E5;
    color: white;
}


#secondolorem {
    background-color: #B1E5F2;
    color: black;
}